* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    padding: 2em; */
}

.carrosel {
    position: relative;
    max-width: 84%;
    margin: auto;
    overflow: hidden;
    height: 100vh;
}

.container {
    display: flex;
    transition: transform 0.5s ease;
}

.imagem {
    min-width: 100%;
}

.imagem img {
    width: 100%;
    border-radius: 10px;
}


.btn {
    /* padding: 0.1em; */
    position: absolute;
    top: 50%;


    background-color: rgba(255, 0, 0, 0);
    border: none;
    transition-property: transform;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}

.btn:hover {
    transform: translateY(-0.2em);
    background-color: aqua;
}

.btn-voltar {
    width: 5%;
    left: 10px;
}

.btn-voltar img {
    width: 100%;
}

.btn-avancar {
    width: 5%;
    right: 10px;
}

.btn-avancar img {
    width: 100%;
}
