* {
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  /* Flexbox descomentado se necessário */
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  /* min-height: 100vh; */
  /* overflow: hidden; */
  /* padding: 2em; */
}

.carrosel {
  position: relative;
  max-width: 100%;
  margin: auto;
  height: 100vh;
}

.container {
  display: flex;
  transition: transform 0.5s ease; /* Transição para as imagens */
}

.imagem {
  min-width: 100%;
}

.imagem img {
  width: 100%;
}

.btn {
  position: absolute;
  top: 35%;
  background-color: #00c49b; /* Cor de fundo levemente visível */
  border: none;
  cursor: pointer; /* Cursor de pointer para indicar que é clicável */
  transition: transform 0.25s ease-in-out;
}

.btn img {
  width: 30px; /* Ajuste o tamanho da seta */
  height: auto; /* Manter a proporção da imagem */
}

.btn-voltar {
  left: 10px; /* Espaçamento à esquerda */
}

.btn-avancar {
  right: 10px; /* Espaçamento à direita */
}

.btn:hover {
  transform: scale(1.1); /* Efeito de hover para aumentar a seta */
}

.voltar {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

.voltar .btn-pag-inicial img {
  width: 30px;
  height: 30px;
  transition: transform 0.25s ease-in-out;
}

.voltar .btn-pag-inicial:hover img {
  transform: scale(1.1); /* Aumenta levemente o tamanho ao passar o mouse */
}

@media (max-width: 768px) {
  .btn {
    width: 5%;
  }

  .btn-voltar,
  .btn-avancar {
    top: 45%;
  }

  .imagem img {
    width: 100%;
    height: auto;
  }
}
