@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");

@font-face {
  font-family: "shape";
  src: url("../assets/fontes/Shape Bit.otf") format("woff"),
       url("../treinando/fontes/Broken_Console/Broken Console Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "shape", sans-serif;
  font-weight: bold;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
}

.imagens {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.imagens img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.texto {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(61, 233, 9);
  text-align: center;
  z-index: 1;
  height: 50%;
  width: 50%;
}

.texto img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  opacity: 0; 
}

#parabens {
  opacity: 1;
}

#nextButton {
  display: none;
}

#confetti {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  pointer-events: none;
}

.image-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.image-button img {
  width: 100%;
  height: auto;
  display: block;
}

.restart {
    position: absolute; 
    bottom: 20px; 
    left: 50%;
    top: 60%;
    transform: translateX(-50%);
    z-index: 2; 
}

.restart button {
    background: none;
    border: none; 
    cursor: pointer; 
}
.restart img {
    width: 50px; 
    height: auto;
}

@media screen and (max-width: 500px){
    .texto{
        width: 90%;
    }
}