body{
    background-image: url(../assets/images/a-nostalgic-pixel-art-game-background-featuring-a--FSoEedkyQdWvxRpci_irKw-grQKfOlIQqSENdoAPZPScQ.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: bold;
    /* height: 100vh;
    overflow-y: auto; */
}

main{
    display: flex; /*inicia o flexbox(precisa ser iniciado para o justify, align e etc funcionar*/
    justify-content: center;  /*move o container pai na horizontal*/
    margin-top: 15em;
}

.texto{
    /* flex-direction: column; */
}

.texto h1{
    align-items: center; /*alinha os flex itens na horizontal*/
    justify-content: center; /*alinha os flex itens na horizontal*/
    font-size: 4rem; /*muda o tamanho do texto*/
}

.texto p {
    font-size: 2rem;
}


