h1 {
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: #ffffff;
}
h3 {
  font-size: 1.45rem;
  color: #666666;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/images/quiz.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: bold;
  overflow: hidden;
  height: 100vh;
}

button {
  padding: 8px;
  background: #80c2de;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius: 35px;
  transition: filter 0.2s;

  &:hover{
    transform: rotate3d(1, 0, 0, 360deg);
    transition: 1.5s;
    color: #12181e;
  }
}
.butaoredm {
  display: flex;
  justify-content: center;
  width: 100%;
}
.butaoEnviar {
  padding: 0px;
  padding-left: 8px;
  background: #63b0d2;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  text-indent: 2.4px;
  border-radius: 15px;
  border: 2px solid #000000;
}
span {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2.7px;
  padding-bottom: 1.086px;
  border-radius: 50%;
}
.questionario {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 45px 50px 45px;
  background-color: #00000094;
  max-width: 600px;
  border-radius: 15px;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}
.perguntas {
  background-color: #80c2de;
  text-align: center;
  border-radius: 20px;
  padding: 5px;
}
.respostas {
  display: grid;
  gap: 8.5px;
  padding: 30px 0 10px;
}

button:hover{
  color: rgb(255, 255, 255);
  background: linear-gradient(#4276A0,#0c3b6165);
  filter: brightness(0.7);
 
}