@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");

h1 {
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: #ffffff;
}
h3 {
  color: #666666;
}
body {
  background-image: url(../assets/images/quiz.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: bold;
  overflow: hidden;
}

button {
  padding: 8px;
  background: #80c2de;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: bold;
  font-size: 0.95rem;
  border: none;
  border-radius: 35px;

  transition: filter 0.2s;
}
.butaoredm {
  display: flex;
  justify-content: center;
  width: 100%;
}
.butaoEnviar {
  padding: 0px;
  padding-left: 8px;
  background: #63b0d2;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  text-indent: 2.4px;
  border-radius: 15px;
  border: 2px solid #000000;
}
span {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2.7px;
  padding-bottom: 1.086px;
  /* background: #ffffff; */
  border-radius: 50%;
  /* border: 2.5px solid #000000; */
}
.questionario {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 45px 50px 45px;
  background-color: #00000094;
  max-width: 600px;
  border-radius: 15px;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}
.perguntas {
  background-color: #80c2de;
  text-align: center;
  border-radius: 20px;
}
.respostas {
  display: grid;
  gap: 8.5px;
  padding: 30px 0 10px;

}
/* .start-quiz{
  padding: 0px;
  padding-right:2px ;
  background: #63b0d2;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  text-indent: 2.4px;
  border-radius: 15px;
  border: 2px solid #000000
} */
button:hover{
  color: rgb(255, 255, 255);
  background: linear-gradient(#4276A0,#0c3b6165);
  filter: brightness(0.5);
 
}