@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");

@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

html {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  overflow: hidden; /*esconde/tira a barra de rolagem*/
  height: 100vh;
  overflow-y: auto;
  background-image: url(../assets/images/background-zenitsu.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}

#menu-logo {
  display: flex;
  justify-content: center;
}

#menu-logo img {
  max-width: 60em;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  top: 80%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.menu-buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.6em;
  width: 100%;
}

.menu-buttons a {
  font-family: "Jersey 10", sans-serif;
  max-width: 13.9375em;
  width: 100%;
  height: 52px;
  border-radius: 25px;
  background-color: #eb9d00af;
  border: none;
  cursor: pointer;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

#btn-cor {
  background-color: #1d93e7c0;
}

#btn-cor:hover {
  background-color: #1d93e7;
}

.menu-buttons a:hover {
  background-color: #eb9d00ee;
}

.btn {
  font-size: 1.2em;
  font-family: "Press Start 2P", cursive;
  width: 200px;
  height: 70px;
  background: #06c1de;
  border: 0px;
  position: relative;
  box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;
}

.btn:hover {
  cursor: pointer;
  background-color: #06b6d1;
}

.btn:active {
  top: 5px;
  box-shadow: -4px 2px 1px 1px grey, -4px -2px 1px 1px lightgray,
    4px 0px 1px 1px lightgray;
}

.btn::after {
  content: "";
  background: black;
  position: absolute;
  left: -2.5%;
  top: 0;
  width: 105%;
  height: 100%;
  z-index: -1;
}

.btn::before {
  content: "";
  background: black;
  position: absolute;
  left: 0;
  top: -5%;
  width: 100%;
  height: 113%;
  z-index: -1;
}

@media screen and (max-width:500px){
  


  #menu-logo img{
    max-width: 40rem;
  }
}