@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");

/* falsa */
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

html {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  overflow: hidden; /*esconde/tira a barra de rolagem*/
  height: 100vh;
  overflow-y: auto;
  background-image: url(../assets/images/background-zenitsu.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}


#menu-logo {
  display: flex ;
  justify-content: center;
}

#menu-logo img {
  max-width: 60em;
}

.menu {
  /* original */

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 20px;

  /* falso */

  top: 80%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
}

.menu-buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.6em;
  width: 100%;
}

.menu-buttons a {
  font-family: "Jersey 10", sans-serif;
  max-width: 13.9375em;
  width: 100%;
  height: 52px;
  border-radius: 25px;
  background-color: #eb9d00af;
  border: none;
  cursor: pointer;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

#btn-cor {
  background-color: #1d93e7c0;
}

#btn-cor:hover {
  background-color: #1d93e7e7;
}

.menu-buttons a:hover {
  background-color: #eb9d00ee;
}

/* .menu-icons {
  display: flex;
  justify-content: flex-end;
  gap: 0.8em;
  padding-top: 1.4em;
  padding-bottom: 1.4em;
  padding-right: 2em;
}


.menu-icons button {
  display: flex;
  justify-content: center;
  align-items: end;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-icons button img {
  transition-property: transform;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

.menu-icons button img:hover {
  transform: translateY(-0.2em);
}

.button-map {
  max-width: 2.5em;
}

.button-map img {
  width: 100%;
}

.button-sound {
  max-width: 2.5em;
}

.button-sound img {
  width: 100%;
}

.mapa {
  background-color: rgba(14, 241, 223, 0.342);
  height: 500px;
  width: 500px;
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 31%;
  border-radius: 10%;
} */

/* falso */
.btn {
  font-size: 1.2em;
  font-family: 'Press Start 2P', cursive;
  width: 200px;
  height: 70px;
  background: #06C1DE;
  border: 0px;
  position: relative;
  box-shadow: 
    inset -4px 2px 1px 1px grey,
    inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;   
}

.btn:hover {
  cursor: pointer;
	background-color: #06B6D1;
}

.btn:active {
  top: 5px;
  box-shadow: 
    -4px 2px 1px 1px grey,
    -4px -2px 1px 1px lightgray,
    4px 0px 1px 1px lightgray; 
}

.btn::after {
  content: '';
  background: black;
  position: absolute;
  left: -2.5%;
  top: 0;
  width: 105%;
  height: 100%;
  z-index: -1;
}

.btn::before {
  content: '';
  background: black;
  position: absolute;
  left: 0;
  top: -5%;
  width: 100%;
  height: 113%;
  z-index: -1;
}